.container{
    
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    

}

.banner:not(.promo) a {
    font-size: 21px;
    font-weight: 400;
    text-decoration: none;
    margin: 10px;
    color: #0070c9;
}

.banner a:hover {
    text-decoration: underline;
    cursor: pointer;
}


.stripe{
   
    border: 1px solid white;
}
.header{
    background-color: black;
    color: white;    
    position:fixed;
    top: 0;
    width:100%;  
    
}
.header .hamburger .slice{
    width: 30px;
    height:5px;
    background-color: white;
    margin: 0px;
    padding:2%;
}
.header .hamburger .slice{
    margin: 5px 0px;
    
} 
.header .hamburger{
    display: none;
    list-style-type:none
}
@media screen and (max-width: 700px){
    .header .hamburger{
        display:inline-block;        
    }
    .header .topmenu{
        display: none;        
    }
    .topmenu01.apple{
       text-align: center;
    }
    .bunner.stripe{
        display:flex;
        flex-flow: column;       
    }
    .tv01,.tv02{
        width: 100%;
        height: 40%;
    }
    .lists.stripe a{
        display:none; 
        display:flex;
        flex-flow: column;
    }
    .lists.stripe a{
        display:none;
    }
}


a{
    text-decoration:none;  
}
.menu{
    list-style-type: none;
    display:flex;
}
.topmenu, .topmenu01{
    flex:1; 
     
 }
 .iphonex.stripe{
     text-align: center;
     background-color: #fafafa;     
     padding:5%;
    
 }

 .footer:not(li) {
    background-color: #f2f2f2;
    padding: 2% 10%;
    font-size: 12px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.9;
    text-align: left;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-container ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    color: gray;
}

.flex-container li {
    padding-bottom: 10px;
}

.flex-container h4 {
    text-align: left;
    color:black;opacity:0.8;
}

.flex-container div:not(:nth-child(1)):not(:nth-child(2)) h4 {
    color: black;
}

.footer a {
    color: #0070c9;
    text-decoration: none;
}

#flag::before {
    content: " 777";
    color: rgba(218, 198, 198, 0);
    background-image: url('https://www.apple.com/ac/flags/1/images/us/16.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.flex-container a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.links a {
    color:rgba(68, 66, 66, 1);
    opacity:1;
}


#link {
    text-decoration: none;
    color: #555;
}

#link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.flex-container ul ~ hr {
    display: none;
}

#last {
    margin-left:4%;
}


@media screen and (max-width: 700px) {
    * {
        box-sizing: border-box;
    }
    
    .show {
        display: none;
    }

    .nav {
        justify-content: space-between;
        align-items: center;
    }

    .stripes.footer {
        width: 100%;
        padding: 2% 4px;
    }

    #last {
        margin-left: 10px;
    }

    .stripes.footer > div:first-child {
        margin-left: 10px;
        margin-right: 5px;

    }

    .stripes.content:nth-child(6) {
        flex-direction: column;
    }

    .stripes.content:nth-child(6) > div {
        width: 100%;
    }

    .stripes.content:nth-child(7) {
        flex-direction: column;
        height: auto;
    }

    .stripes.content:nth-child(7)  div.promo {
        width: 100%;
        height: 550px;
        background-size: scale(0.8,0.8);
    }

    .banner h4 {
        font-size: 32px;
    }

   .banner a {
        font-size: 17px;
    }

    .stripes.content:nth-child(8) {
        flex-direction: column;
    }

    .stripes.content:nth-child(8) > div {
        width: 100%;
    }

    .flex-container ul {
        display: flex;
        align-content: space-between;
        margin: 0;
    }

    .flex-container li {
        display: none;
    }

    .flex-container {
        flex-direction: column;
        align-content: space-between;
        justify-content: flex-start;
    }

    .flex-container ul ~ hr {
        display: block;
    }

    .flex-container > div > h4 {
        margin: 5px;
        font-weight: 500;
    }

    .flex-container > div > hr {
        margin: 5px;
    }

    .stripes.footer > hr {
        margin-left: 15px;
        margin-right: 5px;
    }

    .flex-container#footer div:nth-child(3) {
        margin-bottom: 4%;
    }

    .flex-container#footer div:not(:nth-child(3)) {
        margin-bottom: 1.5%;
    }

    .flex-container#footer div:nth-child(3) {
        margin-top: 3%;
    }

    .flex-container#footer > div:nth-child(3) {
        order: 1;
    }

    .flex-container#footer > div:nth-child(2) {
        order: 3;
    }

    .flex-container#footer > div:first-child {
        order: 2;
    }

    .flex-container#about {
       margin-left: 10px; 
    }

    #hide {
        display: none;
    }
}